<h1>ADD_MONTHS</h1>

<h3>説明</h3>
<pre>ADD_MONTHS( 日付 , n )</pre>
<kbd>ADD_MONTHS</kbd>は日付にnヶ月足した日付を返します。

<h3>サンプル</h3>
<pre>
SQL> SELECT ADD_MONTHS('14-12-30', 2) FROM DUAL;

ADD_MON
----------
15-2-28

SQL> SELECT ADD_MONTHS('14-12-30', -2) FROM DUAL;

ADD_MON
----------
14-10-30
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="last_day">LAST_DAY</a></td>
    <td class="col-md-11">- 指定した日付の月末日を返す</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="next_day">NEXT_DAY</a></td>
    <td class="col-md-11">- 次の指定曜日の日付を返す</td>
  </tr>
</tbody>
</table>
