<h1>LAST_DAY</h1>

<h3>説明</h3>
<pre>LAST_DAY( 日付 )</pre>
<kbd>LAST_DAY</kbd>は指定した日付の月末日を返します。

<h3>サンプル</h3>
<pre>
SQL> SELECT LAST_DAY('14-12-30', 2) FROM DUAL;

LAST_DAY
--------
14-12-31
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="add_months">ADD_MONTHS</a></td>
    <td class="col-md-11">- 日付に指定した月を加算した日付を返す</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="next_day">NEXT_DAY</a></td>
    <td class="col-md-11">- 次の指定曜日の日付を返す</td>
  </tr>
</tbody>
</table>
