<html>
  <head>
    <link href="../../css/prettify.css" rel="stylesheet">
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>SAMPLE</h1>

<h3>説明</h3>

<p>サンプルです。</p>

<h3>サンプル</h3>
<code>SQL> SELECT SAMPLE(*) FROM sample;</code>
<kbd>hohi</kbd>

<h3>リンク</h3>
<button type="button" class="btn btn-primary" data-toggle="button">link 1</button>
<button type="button" class="btn btn-primary" data-toggle="button">link 2</button>
  </body>
</html>
