<h1>SUM</h1>

<h3>説明</h3>
<pre>SUM (n)</pre>
<kbd>SUM</kbd>はnの合計値を返します。

<h3>サンプル</h3>
<pre>
SQL> SELECT SUM(給料) FROM 社員;

SUM(給与)
---------
 3000000
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <th scope="row"><button type="button" class="btn btn-primary" data-toggle="button">AVG</button></th>
    <td>- <code>平均値を求める</code></td>
  </tr>
  <tr>
    <th scope="row"><button type="button" class="btn btn-primary" data-toggle="button">STDDEV</button></th>
    <td>- <code>標準偏差を求める</code></td>
  </tr>
  <tr>
    <th scope="row"><button type="button" class="btn btn-primary" data-toggle="button">VARIANCE</button></th>
    <td>- <code>分散を求める</code></td>
  </tr>
</tbody>
