<h1>AVG</h1>

<h3>説明</h3>
<pre>AVG (n)</pre>
<kbd>AVG</kbd>はnの平均値を返します。

<h3>サンプル</h3>
<pre>
SQL> SELECT AVG(給料) FROM 社員;

SUM(給与)
---------
 3000000
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="#">SUM</a></td>
    <td class="col-md-11">- 合計値を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="#">STDDEV</a></td>
    <td class="col-md-11">- 標準偏差を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="#">VARIANCE</a></td>
    <td class="col-md-11">- 分散を求める</td>
  </tr>
</tbody>
</table>
