<h1>データベースオブジェクト</h1>

<h3>説明</h3>
<p>表やビュー、索引などのデータベースの中で扱われるものをデータベースオブジェクトと呼びます。たとえば、1つの表は1つのオブジェクトです。</p>
<p>Oracleデータベースでは、次のものをデータベースオブジェクトと呼びます。</p>

<h4>データベースオブジェクト</h4>
<table class="table table-striped">
  <thead>
    <tr>
       <th>オブジェクト</th> <th>説明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>表</td> <td>データを格納する</td>
    </tr>
    <tr>
      <td>ビュー</td> <td>１つ以上の表からデータのサブセット。データは保持しない</td>
    </tr>
    <tr>
      <td>順序</td> <td>一意な数値を生成する</td>
    </tr>
    <tr>
      <td>索引</td> <td>問合せのパフォーマンスを向上させる目的で使用される</td>
    </tr>
    <tr>
      <td>シノニム</td> <td>オブジェクトの別名</td>
    </tr>
  </tbody>
</table>

<h4>ネーミング規約</h4>
<p>データベースオブジェクトは、スキーマ内で一意でなければならない。</p>
<p>列名、表名などオブジェクト名のネーミングルールを次に示す</p>
<ul>
  <li>文字で開始する必要がある</li>
  <li>長さ30バイト以下</li>
  <li>英数字、記号($_#)が使用可能</li>
  <li>Oracleの予約後は使用できない(例：CREATE、TABLE）</li>
  <li>同一のスキーマ内で一意な表名、同一表内で一意な列名でなければならない</li>
</ul>
</pre>
