<h1>日付関数</h1>

<h3>説明</h3>
日付関数は日付や数値を受け取って、日付または数値を返します。<br>
日付データは、算術演算子を用いて計算することもできます。
<ul>
  <li>日付 + 数値: 日付に日数を足した日付を返す</li>
  <li>日付 - 数値: 日付から日数を引いた日付を返す</li>
  <li>日付 - 日付: 日付間の日数を返す</li>
  <li>日付 + 数値/24: 日付から時間を足した日付を返す</li>
</ul>

<h3>目次</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="date_function/add_months">ADD_MONTHS</a></td>
    <td class="col-md-11">- 日付に指定した月を加算した日付を返す</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="date_function/last_day">LAST_DAY</a></td>
    <td class="col-md-11">- 指定した日付の月末日を返す</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="date_function/next_day">NEXT_DAY</a></td>
    <td class="col-md-11">- 次の指定曜日の日付を返す</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="date_function/months_between">MONTHS_BETWEEN</a></td>
    <td class="col-md-11">- 指定した２つの日付間の月数を返す</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="date_function/sysdate">SYSDATE</a></td>
    <td class="col-md-11">- サーバの現在日時を返す</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="date_function/trunc">TRUNC</a></td>
    <td class="col-md-11">- 日付を切り捨てる</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="date_function/round">ROUND</a></td>
    <td class="col-md-11">- 日付を四捨五入する</td>
  </tr>
</tbody>
</table>
