<h1>検索結果のグループ化(GROUP BY句と HAVING句)</h1>

<h3>説明</h3>
カラムをグループにまとめる時は、GROUP BY句を利用します。<br>
さらに、グループ化したカラムに条件を指定する時に、HAVING句を利用します。

<h3>目次</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-2"><a href="group-by-having/group-by">GROUP BY句</a></td>
    <td class="col-md-10">- 指定したカラムでグループ化する</td>
  </tr>
  <tr>
    <td class="col-md-2"><a href="group-by-having/having">HAVING句</a></td>
    <td class="col-md-10">- グループ化されたカラムに条件を指定する</td>
  </tr>
</tbody>
</table>
