<h1>複数行副問合せ</h1>

複数行問合せを含む主問合せでは、副問合せが戻す値との比較には、
次に示す複数行比較演算子を使用します。

<h4>複数行比較演算子</h4>
<table class="table table-striped">
  <thead>
    <tr>
       <th>演算子</th> <th>意味</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td> IN, =ANY </td> <td>リスト内のいずれかの値と等しい</td>
  </tr>
  <tr>
    <td> NOT IN, <>ALL </td> <td>リスト内のすべてと等しくない</td>
  </tr>
  <tr>
    <td> ANY </td> <td> >、>=、<、<=、=の直後に記述する。リスト内のそれぞれの値と比 較する。<br/>副問合せから行が戻されない場合、主問合せのWHERE句はFALSEと評価される </td>
  </tr>
  <tr>
    <td> ALL </td> <td> >、>=、<、<=、<>、!=、ヘーの直後に記述する。リスト内のすべ
ての値と比較する。<br/>副問合せから行が戻されない場合、主問合せの WHERE句はTRUEと評価される </td>
  </tr>
  <tbody>
</table>
