<h1>数値関数</h1>

<h3>説明</h3>
グループ関数は単一行の結果ではなく、行のグループに基づく結果を返します。

<h3>目次</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="group/count">COUNT</a></td>
    <td class="col-md-11">- 件数を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="group/max">MAX</a></td>
    <td class="col-md-11">- 最大値を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="group/min">MIN</a></td>
    <td class="col-md-11">- 最小値を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="group/sum">SUM</a></td>
    <td class="col-md-11">- 合計値を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="group/avg">AVG</a></td>
    <td class="col-md-11">- 平均値を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="group/variance">VARIANCE</a></td>
    <td class="col-md-11">- 分散を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="group/stddev">STDDEV</a></td>
    <td class="col-md-11">- 標準偏差を求める</td>
  </tr>
</tbody>
</table>
