<h1>単一行副問合せ</h1>

単一行副問合せを含む主問合せでは、副問合せが戻す値との比較には、
次に示す単一行比較演算子を使用する。

<h4>単一行比較演算子</h4>
<table class="table table-striped">
  <thead>
    <tr>
       <th>演算子</th> <th>意味</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td> = </td> <td>等しい</td>
  </tr>
  <tr>
    <td> > </td> <td>より大きい</td>
  </tr>
  <tr>
    <td> >= </td> <td>以上</td>
  </tr>
  <tr>
    <td> < </td> <td>より小さい</td>
  </tr>
  <tr>
    <td> <= </td> <td>以下</td>
  </tr>
  <tr>
    <td> <>, !=, ^= </td> <td>等しくない</td>
  </tr>
  <tbody>
</table>
