<h1>行の並べ替え(ソート)</h1>

<h3>説明</h3>
<p>問合せ結果として戻される行がどのような順に表示されるかは、決まっていない。</p>
<p>ORDER BY句を使用して、検索した結果をソートして表示することが出来る。</p>

<pre>
ORDER BY 列名 [ASC | DESC] [, 列名 [ASC | DESC] , ...]
</pre>

<p>デフォルトでは昇順（小さい順）に並べ替えて表示される。</p>

<h3>昇順に並べ替え</h3>

<h3>降順に並べ替え</h3>

<h3>複数列を指定した並べ替え</h3>

<h3>並べ替えのみの列</h3>

<h3>列番号での指定</h3>

<h3>列別名での指定</h3>

<h3>NULL値の順序指定</h3>
