<h1>文字関数</h1>

<h3>説明</h3>
文字関数は、文字列を受け取り、文字または数値を返します。

<h3>目次</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="string_function/length">LENGTH</a></td>
    <td class="col-md-11">- 文字列の長さを求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="string_function/instr">INSTR</a></td>
    <td class="col-md-11">- 文字列の出現位置を調べる</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="string_function/substr">SUBSTR</a></td>
    <td class="col-md-11">- 文字列から文字列を切り出す</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="string_function/initcap">INITCAP</a></td>
    <td class="col-md-11">- 単語の最初の文字を大文字に、それ以外を小文字に変換する</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="string_function/upper">UPPER</a></td>
    <td class="col-md-11">- 文字列を大文字にする</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="string_function/lower">LOWER</a></td>
    <td class="col-md-11">- 文字列を小文字にする</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="string_function/concat">CONCAT</a></td>
    <td class="col-md-11">- ２つの文字列を連結する</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="string_function/lpad">LPAD</a></td>
    <td class="col-md-11">- 文字列の左にパディング文字を入れる</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="string_function/rpad">RPAD</a></td>
    <td class="col-md-11">- 文字列の右にパディング文字を入れる</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="string_function/trim">TRIM</a></td>
    <td class="col-md-11">- 文字列の前後から指定した文字列を除去する</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="string_function/replace">REPLACE</a></td>
    <td class="col-md-11">- 検索文字列を指定した文字列で置き換える</td>
  </tr>
</tbody>
</table>
