<h1>表</h1>

<h3>説明</h3>
<p>表は、リレーショナルデータベースのデータを格納するモデルです。表を作成 するときには、表名、列名、列のデータ型、制約などを指定します。「表名」は、表 オブジェクトを認識するための名前であり、30バイト以内で日本語も使用可能 です。「列名」は、表内で固有な名前を指定可能です。「データ型」は、各列に格納
零期雲鷺淫憲蹴繍鱒繊繍墓,圃 理解する必要があります。「制約」は、データ型に加えてさらにデータに条件を指
定することができます。列に制約を定義することで、条件以外のデータの挿入や 変更、削除を禁止することができます。</p>

<h4>表の作成</h4>
<p>表の作成にはCREATE TABLE文を使用します。</p>

<pre>
CREATE TABLE 表名
    ( 列名 データ型 [ DEFAULT 式 ]
    [ , 列名 データ型 ] ... )
    [ TABLESPACE 表領域名 ]
</pre>

<h4>DEFAULTオプション</h4>
