<h1>副問合せの使用方法</h1>

<h3>説明</h3>
<p>副問合せとは、他のSQL文の句で使用される問合せのこと。
表自身のデータによって変化する条件を使用して、表から行を選択する場合に使う。
この章では、単一行問合せと複数行問合せについて解説します。</p>

<p> 副問合せも複数の表を使用するSQLである。
副問合せとは、別のSQL文の中に埋め込まれたSELECT文である。
SELECT文のFROM句、WHERE句、HAVING句やUPDATE文のSET句およびWHERE句、またはDELETE文
のWHERE句など、さまざまな場所で使用することが出来る。
</p>

