<h1>CEIL</h1>

<h3>説明</h3>
<pre>CEIL(n)</pre>
<kbd>CEIL</kbd>はn以上の最小の整数を返します。CEILは日本語で天井の意味。

<h3>サンプル</h3>
<pre>
SQL> SELECT CEIL(12.3) FROM DUAL;

CEIL(12.3)
---------
       13
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="floor">FLOOR</a></td>
    <td class="col-md-11">- 小数点以下切り捨て</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="round">ROUND</a></td>
    <td class="col-md-11">- 指定した桁で四捨五入</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="trunc">TRUNC</a></td>
    <td class="col-md-11">- 指定した桁で切り捨て</td>
  </tr>
</tbody>
</table>
