<h1>FLOOR</h1>

<h3>説明</h3>
<pre>FLOOR(n)</pre>
<kbd>FLOOR</kbd>はn以下の最大の整数を返します。FLOORは日本語で床の意味。

<h3>サンプル</h3>
<pre>
SQL> SELECT CEIL(12.3) FROM DUAL;

CEIL(12.3)
---------
       12
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="ceil">CEIL</a></td>
    <td class="col-md-11">- 小数点以下繰り上げ</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="round">ROUND</a></td>
    <td class="col-md-11">- 指定した桁で四捨五入</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="trunc">TRUNC</a></td>
    <td class="col-md-11">- 指定した桁で切り捨て</td>
  </tr>
</tbody>
</table>
