<h1>MOD</h1>

<h3>説明</h3>
<pre>MOD(m, n)</pre>
<kbd>MOD</kbd>はmをnで割った余りを返します。

<h3>サンプル</h3>
<pre>
SQL> SELECT MOD(22, 7) FROM DUAL;

MOD(22, 7)
---------
       1
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="floor">FLOOR</a></td>
    <td class="col-md-11">- 小数点以下切り捨て</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="power">POWER</a></td>
    <td class="col-md-11">- 累乗を求める</td>
</tbody>
</table>
