<h1>POWER</h1>

<h3>説明</h3>
<pre>POWER(m, n)</pre>
<kbd>POWER</kbd>はmのn乗を返します。

<h3>サンプル</h3>
<pre>
SQL> SELECT POWER(2, 10) FROM DUAL;

POWER(2, 10)
-----------
       1024
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="sqrt">SQRT</a></td>
    <td class="col-md-11">- 平方根を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="mod">MOD</a></td>
    <td class="col-md-11">- 割り算の余りを求める</td>
  </tr>
</tbody>
</table>
