<h1>SQRT</h1>

<h3>説明</h3>
<pre>SQRT(n)</pre>
<kbd>SQRT</kbd>はnの平方根を返します。SQuare RooTの略です。

<h3>サンプル</h3>
<pre>
SQL> SELECT SQRT(25) FROM DUAL;

SQRT(25)
-----------
       5 
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="power">POWER</a></td>
    <td class="col-md-11">- 累乗を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="mod">MOD</a></td>
    <td class="col-md-11">- 割り算の余りを求める</td>
  </tr>
</tbody>
</table>
