<!DOCTYPE html>
<html lang='ja'>
    <!-- head -->
    {% include "parts/head.html" %}

    <!-- body -->
    <body>

        <!-- header -->
        {% block header %}
            {% include "parts/header.html" %}
        {% endblock %}

        <!-- contents -->
        <div class="container-fuild">
            <div class="row">
                <div class="col-md-2 sidebar">
                    {% block sidebar %}
                        {% include "parts/sidebar.html" %}
                    {% endblock %}
                </div>

                <div class="col-md-10 main">
                    {% block contents %}
                    <div>
                        デフォルトコンテンツ
                    </div>
                    {% endblock contents %}

                    {% block ad %}
                        {% include "parts/ad.html" %}
                    {% endblock %}
                </div>
            </div>

        </div>

        <!-- footer -->
        {% block footer %}
        {% include "parts/footer.html" %}
        {% endblock footer %}

        <!-- script references -->
        {% include "parts/script.html" %}
        {% include "parts/tracking.html" %}
    </body>

</html>
