<h1>COUNT</h1>

<h3>説明</h3>
<pre>COUNT (n)</pre>
<kbd>COUNT</kbd>はnの件数を返します。

<h3>サンプル</h3>
<pre>
SQL> SELECT COUNT(社員) FROM 社員;

COUNT(社員)
---------
 3000
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="max">MAX</a></td>
    <td class="col-md-11">- 最大値を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="min">MIN</a></td>
    <td class="col-md-11">- 最小値を求める</td>
  </tr>
</tbody>
</table>
