<h1>STDDEV</h1>

<h3>説明</h3>
<pre>STDDEV (n)</pre>
<kbd>STDDEV</kbd>はnの標準偏差を返します。

<h3>サンプル</h3>
<pre>
SQL> SELECT STDDEV(給料) FROM 社員;

SUM(給与)
---------
  75
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="variance">VARIANCE</a></td>
    <td class="col-md-11">- 分散を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="avg">AVG</a></td>
    <td class="col-md-11">- 平均値を求める</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="sum">SUM</a></td>
    <td class="col-md-11">- 合計値を求める</td>
  </tr>
</tbody>
</table>
