<h1>INITCAP</h1>

<h3>説明</h3>
<pre>INITCAP( 文字列 )</pre>
<kbd>INITCAP</kbd>は、単語の最初の文字を大文字にして返します。</td>

<h3>サンプル</h3>
<pre>
SQL> SELECT INITCAP('system engineer') FROM DUAL;

INITCAP('system
---------------
System Engineer
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="upper">UPPER</a></td>
    <td class="col-md-11">- 文字列を大文字にする</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="lower">LOWER</a></td>
    <td class="col-md-11">- 文字列を小文字にする</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="concat">CONCAT</a></td>
    <td class="col-md-11">- ２つの文字列を連結する</td>
  </tr>
</tbody>
</table>
