<h1>LOWER</h1>

<h3>説明</h3>
<pre>LOWER( 文字列 )</pre>
<kbd>LOWER</kbd>は、文字列をすべて小文字にして返します。</td>

<h3>サンプル</h3>
<pre>
SQL> SELECT LOWER('System Engineer') FROM DUAL;

LOWER('System E
---------------
system engineer
</pre>

<h3>参考</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td class="col-md-1"><a href="upper">UPPER</a></td>
    <td class="col-md-11">- 文字列を大文字にする</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="initcap">INITCAP</a></td>
    <td class="col-md-11">- 単語の最初の文字を大文字に、それ以外を小文字に変換する</td>
  </tr>
  <tr>
    <td class="col-md-1"><a href="concat">CONCAT</a></td>
    <td class="col-md-11">- ２つの文字列を連結する</td>
  </tr>
</tbody>
</table>
